* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Red D: #D90429 - Red: #EF233C - Grey: #EDF2F4 - Grey D: #8D99AE - Black: #2B2D42 */

body {
    font-size: 62.5%;
    background: #EDF2F4;
    font-family: 'Big Shoulders Stencil Display', cursive;;
}

header {
    background: #D90429;
    color: #EDF2F4;
    height: 6rem;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    padding: 1rem;
}

footer {
    background: #2B2D42;
    font-size: 1rem;
    color: #EDF2F4;
    text-align: right;
    padding: 1rem;
    height: 3rem;
    position: fixed;
    bottom: 0;
}

header, footer, #page, #lecteur, #marge1, #marge2 {
    width: 100%;
}

header, #lecteur, #action, #playlist, #liste {
text-align: center;
}

#marge1 {
    height: 6rem;
}

#marge2 {
    height: 3rem;
}

#page {
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#lecteur {
    border: solid #2B2D42 1px;
    width: 100%;
    height: 315px;
    margin-bottom: 0.3rem;
}

#lecteur iframe {
    width: 560px;
    height: 315px;
}

#action, #playlist, #liste {
    width: 33.33%;
    min-height: 10rem;
}

#liste {
    overflow: auto;
}

#playlist {
    overflow: auto;
    border-right: solid #2B2D42 1px;
    border-left: solid #2B2D42 1px;
}

#action button, #playlist div, #liste div {
    min-height: 2rem;
    width: 90%;
    margin-bottom: 0.3rem;
    padding: 0.3rem;
}

#playlist div, #liste div {
    width: 100%;
}

#newPlaylist, #addMusic, #playlist div, #liste div {
    border: solid #8D99AE 1px;
}

#newPlaylist:hover, #addMusic:hover, #playlist div:hover, #liste div:hover {
    border: solid #2B2D42 1px;
}

#delMusic, #delPlaylist {
    border: solid #D90429 2px;
}

#delMusic:hover, #delPlaylist:hover {
    background: #D90429;
    color: #EDF2F4;
}